<section id="ourAssembliesSection" class="ourAssemblies">
    <div class="section_header">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="section_header__subtitle">
                        <h2>Our Assemblies</h2>
                    </div>
                    <div class="section_header__title">
                        <h1>Nuestros Montajes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section_body">
        <div class="grid">
            <ul id="hexGrid">
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image:url(./assets/images/featuredProducts/100DI90I04_1_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>

                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/100DI90I04_2_d57f7c51-e016-4e15-840d-fbd5dcfc4af0_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/6ba3dd37777a0b888b937fe427fbe56b_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/BOSCH_CTL636ES1_PORTADA_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/BWX-220-54-27_3c4939a1-ad22-4ee4-a4e2-c6f52a9a6b3c_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/CONCEPT-3X2---CANYON_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/franke5_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/franke6_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>
                <li class="hex">
                    <div class="hexIn">
                        <a class="hexLink" href="#">
                            <div class='img'
                                style='background-image: url(./assets/images/featuredProducts/linha-conceptcanyon-reto_360x.webp);'>
                            </div>
                            <h1 class="title">Montajes</h1>
                            <p class="subTitle">Este es un montaje Lorem Ipsum</p>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>